/* HOME SECTION */

#HOME{
  background-color:#00BBAB;
  padding: 0px 0px 10px 0px;
}

.container-fluid{
    padding: 1%;
}

.logo{
  width: 201px;
}

.nav-link{
  font-family:'Roboto', sans-serif;
  font-size: 18px;
color: #E2F6FF!important;
}

.nav-item{
  color: white;
}
.heading1{
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.word1{
  padding: 140px 0px 0px 0px;

}

.word2{
  padding: 41px 0px 0px 0px;
  color: #E2F6FF;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.btn{
  text-align: center;
  background-color:yellow;
  font-weight: bold;
  font-size: 16px;
}

.button1{
  padding:40px 29px;
  text-align: center;
}

.img1{
  width: 100%;
  padding: 31px 50px 69px 50px;
}

@media(max-width:540px){
  .img1{
    display: none;
  }
}

/* ABOUT SECTION */

#ABOUT{
   background-color: #E2F6FF;
     padding: 0px 0px 10px 0px;
 }

.img2{
   width: 90%;
 }

 @media(max-width:540px){
   .img2{
     display: none;
   }
 }

.heading2{
    color:#00BBAB;
    line-height: 50px;
    padding: 87px 39px 0px 1px;
    font-family: 'Roboto', sans-serif;
 }

 .naveen{
   font-family: 'Quicksand', sans-serif;
   font-size:15px;
   line-height: 25px;
   padding-bottom: 45px;
   padding-top: 30px;
   padding-right:20px;
   color: black;
 }

 .text2{
   padding-top: 30px;
 }

/* HOW IT WORKS SECTION */

#HOWITWORKS{
  background-color: #00BBAB;
  padding: 0px 0px 10px 0px;
}

.heading3{
  color: white;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}

.work1{
padding: 89px 0px 0px ;
}

.work2{
  padding: 24px 0px 0px 0px;
  color: #E2F6FF;
}
.email{
  padding: 0px 6px 14px 0px;
}

.kyc1{
 padding: 5px 6px 10px 0px;
}

.trading1{
  padding: 0px 6px 19px 0px;
}

.account {
  padding: 0px 0px 0px 0px;
  color: #E2F6FF;
}

.mobile{
  padding: 0px 0px 0px 0px;
  color: #E2F6FF;
}

.trades{
  padding: 0px 0px 0px 0px;
  color: #E2F6FF;
}
.registeremail {
  color: #E2F6FF;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
}
.kyc{color: #E2F6FF;
line-height: 50px;
font-family: 'Roboto', sans-serif;
}

.trading{color:#E2F6FF;
line-height: 50px;
font-family: 'Roboto', sans-serif;
}
.small1,{
  padding: 2px 0px 0px 0px;
}
.small2{
  padding: 2px 0px 0px 0px;
}

.small3{
  padding: 2px 0px 0px 0px;
}
.img3{
  width: 96%;
  text-align: center;
  padding:0px 55px 0px 24px;
}

.container{
  padding: 7px 15px;
}

/* WHY SECTION */

#WHY{
  background-color: #E2F6FF;
  padding: 0px 0px 10px 0px;
}

.testimonial-image,.unlockimg{
    width: 96%;
    padding: 0px 57px 0px 28px;
}

.heading4,.Security{
    color:#00BBAB;
    line-height: 50px;
    padding: 87px 39px 0px 1px;
    font-family: 'Roboto', sans-serif;
 }

 .exchange,.provide{
    padding: 15px 0px 12px 0px;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    color:#105572 ;
    font-size: 25px;
}

.platform,.account1{
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  line-height: 25px;
}

.ul1,.ul3{
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  line-height: 35px;
}

.supportimg{
  width: 96%;
  text-align: center;
  padding:0px 55px 0px 24px;
}

.support{
  color:#00BBAB;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  padding: 89px 0px 0px ;
}

 .provide{
   line-height: 50px;
   font-family: 'Roboto', sans-serif;
   color:#105572 ;
   font-size: 25px;
 }

 .resolve{
   line-height: 50px;
   font-family: 'Roboto', sans-serif;
   color:#105572 ;
   font-size: 25px;
 }

 .get{
   font-family: 'Quicksand', sans-serif;
   font-size:15px;
   line-height: 25px;
 }

 .ul2{
   font-family: 'Quicksand', sans-serif;
   font-size:15px;
   line-height: 35px;
 }

 /* .b1{
   background-color:#27A3FF !important;
 }

 .carousel-control-prev-icon,.carousel-control-next-icon{
   background-color:#27A3FF !important;
 } */

 /* BENIFITS SECTION */

 #BENIFITS{
   background-color:#00BBAB;
   padding: 0px 0px 10px 0px;
 }

 .heading5{
   color: white;
   line-height: 50px;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding: 76px 0px 0px 0px;
   font-size: 40px;
 }

 .our{
   color: #E2F6FF;
   font-size: 14px;
   text-align: center;
   padding: 35px 0px 0px 0px;
}

.star {
  padding: 8px 10px 12px 0px;
}
.star2{
  padding: 8px 10px 12px 0px;
}
.star3{
  padding: 8px 10px 12px 0px;
}
.market,.trainings,.blog{
  color:#E2F6FF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 20px 0px 0px 0px;
}

.market1,.trainings1,.blog1{

  color:white;
}

.roadmap{
  color:#00BBAB;
  line-height: 50px;

  font-family: 'Roboto', sans-serif;

  text-align: center;
  padding: 76px 0px 0px 0px;
  font-size: 43px;
}

.future{
  color: #105572 ;
  font-size: 14px;
  text-align: center;
  padding: 35px 0px 0px 0px;
}




/*timeline3*/

#roadmap{
  background-color: #E2F6FF;
 }
.timeline-icon{
  font-size: 10PX;
}
.main-timeline3 {
    overflow: hidden;
    position: relative;
}

.main-timeline3 .timeline{
    position: relative;
    margin-top: -1px;
    padding: 0px 0px 0px 0px;
}


.timeline-fff{
  padding: 0px 0px 232px 0px;
  position: relative;
  margin-top: -10px;
}

.main-timeline3 .timeline:first-child {
    margin-top: 43px;
}

.main-timeline3 .timeline-icon,
.main-timeline3 .year {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline3 .timeline:after,
.main-timeline3 .timeline:before {
    content: "";
    display: block;
    width: 100%;
    clear: both
}

.main-timeline3 .timeline:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2
}

.main-timeline3 .timeline-icon {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color: #00BBAB;
    border-right-color: #00BBAB;
    z-index: 1;
    transform: rotate(45deg)
}

.main-timeline3 .year {
    display: block;
    width: 110px;
    height: 110px;
    line-height: 50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    font-size: 30px;
    font-weight: 700;
    color: #00BBAB;
    text-align: center;
    transform: rotate(-45deg)
}

.main-timeline3 .timeline-content {
    width: 35%;
    float: right;
    background: #00BBAB;
    padding: 30px 20px;
    margin: 50px 0;
    box-shadow: 0 10px 25px -10px rgba(72, 29, 99, .3);
    z-index: 1;
    position: relative
}

.main-timeline3 .timeline-content:before {
    content: "";
    width: 20%;
    height: 15px;
    background: #00BBAB;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%)
}

.main-timeline3 .title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px;
    font-family: 'Roboto', sans-serif;
}

.main-timeline3 .description {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin: 0
}

.main-timeline3 .timeline:nth-child(2n) .timeline-icon {
    transform: rotate(-135deg);
    border-top-color: #105572;
    border-right-color:  #105572;
}

.main-timeline3 .timeline:nth-child(2n) .year {
    transform: rotate(135deg);
    color: #105572;
}

.main-timeline3 .timeline:nth-child(2n) .timeline-content {
    float: left
}

.main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
    left: auto;
    right: -20%
}

.main-timeline3 .timeline:nth-child(2n) .timeline-content,
.main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
    background:  #105572 ;
}

.main-timeline3 .timeline:nth-child(3n) .timeline-icon {
    border-top-color: #00BBAB;
    border-right-color: #00BBAB;
}

.main-timeline3 .timeline:nth-child(3n) .year {
    color: #00BBAB;
}

.main-timeline3 .timeline:nth-child(3n) .timeline-content,
.main-timeline3 .timeline:nth-child(3n) .timeline-content:before {
    background: #00BBAB;
}

.main-timeline3 .timeline:nth-child(4n) .timeline-icon {
    border-top-color: #105572;
    border-right-color: #105572;
}

.main-timeline3 .timeline:nth-child(4n) .year {
    color: #105572;
}

.main-timeline3 .timeline:nth-child(4n) .timeline-content,
.main-timeline3 .timeline:nth-child(4n) .timeline-content:before {
    background: #105572;
}

.main-timeline3 .timeline:nth-child(5n) .timeline-icon {
    border-top-color: #00BBAB;
    border-right-color: #00BBAB;
}

.main-timeline3 .timeline:nth-child(5n) .year {
    color: #00BBAB;
}

.main-timeline3 .timeline:nth-child(5n) .timeline-content,
.main-timeline3 .timeline:nth-child(5n) .timeline-content:before {
    background:#00BBAB;
}

.main-timeline3 .timeline:nth-child(6n) .timeline-icon {
    border-top-color: #105572;
    border-right-color: #105572;
}

.main-timeline3 .timeline:nth-child(6n) .year {
    color: #105572;
}

.main-timeline3 .timeline:nth-child(6n) .timeline-content,
.main-timeline3 .timeline:nth-child(6n) .timeline-content:before {
    background: #105572;
}

.main-timeline3 .timeline:nth-child(7n) .timeline-icon {
    border-top-color: #00BBAB;
    border-right-color: #00BBAB;
}

.main-timeline3 .timeline:nth-child(7n) .year {
    color: #00BBAB;
}

.main-timeline3 .timeline:nth-child(7n) .timeline-content,
.main-timeline3 .timeline:nth-child(7n) .timeline-content:before {
    background: #00BBAB;
}

@media only screen and (max-width:1199px) {
    .main-timeline3 .timeline {
        margin-top: -103px
    }
    .main-timeline3 .timeline-content:before {
        left: -18%
    }
    .main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
        right: -18%
    }
}

@media only screen and (max-width:990px) {
    .main-timeline3 .timeline {
        margin-top: -127px
    }
    .main-timeline3 .timeline-content:before {
        left: -2%
    }
    .main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
        right: -2%
    }
}

@media only screen and (max-width:767px) {
    .main-timeline3 .timeline {
        margin-top: 0;
        overflow: hidden
    }
    .main-timeline3 .timeline:before,
    .main-timeline3 .timeline:nth-child(2n):before {
        box-shadow: none
    }
    .main-timeline3 .timeline-icon,
    .main-timeline3 .timeline:nth-child(2n) .timeline-icon {
        margin-top: -30px;
        margin-bottom: 20px;
        position: relative;
        transform: rotate(135deg)
    }
    .main-timeline3 .timeline:nth-child(2n) .year,
    .main-timeline3 .year {
        transform: rotate(-135deg)
    }
    .main-timeline3 .timeline-content,
    .main-timeline3 .timeline:nth-child(2n) .timeline-content {
        width: 100%;
        float: none;
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding: 25px 20px;
        margin: 0 auto
    }
    .main-timeline3 .timeline-content:before,
    .main-timeline3 .timeline:nth-child(2n) .timeline-content:before {
        width: 15px;
        height: 25px;
        position: absolute;
        top: -22px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 0)
    }
}

/* user words */

.heading9{
  color: white;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  padding: 89px 0px 0px 0px ;
}

 .work9{
 color: white;
}

/* Testimonial Section */

#testimonials{
  background-color:#00BBAB;
  padding: 0px 0px 10px 0px;
}

.testimonial-text{
 font-size: 1.5rem;
 line-height: 1.5;
 text-align: center;
 padding: 2% 15% 0% 14%;
 color: white;
 font-family: 'Roboto', sans-serif;
}

.test{
  padding: 0% 0% 0% 45%;
  text-align: center;
}

@media(max-width:540px){
  .test{
    padding:0% 0% 0% 40%;
  }
}

.name1{
  color: #E2F6FF;
  font-size: 20px;
  text-align: center;
  padding: 17px 0px 0px 0px;
}

/* CONTACT SECTION */

#CONTACT{
    background-color: #E2F6FF;
}

.gravitus{
  font-size: 26px;
  text-align: center;
  color: #27DEBF;
  padding: 10px 0px 0px 26px;
}

.mail{
  text-align: center;
  padding: 27px 0px 0px 0px;
}

@media(max-width:520px){
  .mail{
    padding: 50px 0px 0px 0px;
  }
}

#feedback {
  max-width: 60%;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: solid 1px #f1f1f1;
  background: #fbfbfb;
  box-shadow: #e6e6e6 0 0 4px ;
  border-radius: 0.25rem;
}

@media (max-width: 720px) {
  #feedback{
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  #feedback{
    padding: 10px;
  }
}

#fh2{
  color:#00BBAB;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-size: 43px;
}

@media (max-width: 400px) {
  #fh2{
    font-size: 20px;
  }
}


#fh6 {
 padding: 2px 15px;
 color: #105572 ;
 text-align: center;
 font-weight: normal;
}

@media (max-width: 400px) {
  #fh6{
    font-size: 12px;
  }
}

.pinfo {
 margin: 8px auto;
 font-weight: bold;
 line-height: 1.5;
 color: #0d0d0d;
}
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: bold;
  color: #6C6262;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #696060;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: none;
}

.form-control::-webkit-input-placeholder {
  color: #F34949;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: brown;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: blue;
  opacity: 1;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: red;
  opacity: 1;
}

.form-control:disabled {
  cursor: not-allowed;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: green;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group .form-control:focus, .input-group .form-control:active, .input-group .form-control:hover {
  z-index: 3;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon,
.input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  width: 45px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #2e2e2e;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.input-group-addon.form-control-sm,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .input-group-addon.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.input-group-addon.form-control-lg,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .input-group-addon.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon:not(:last-child) {
  border-right: 0;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-control + .input-group-addon:not(:first-child) {
  border-left: 0;
}

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}



/* CONTACT SECTION */
#footer{text-align: center;
background-color:#00BBAB;
 }

 .lastsub{
   padding: 40px;
 }

 .icon1{
   padding: 30px 10px 0px 10px;
 }

 .email1{
   padding: 2px 0px 8px 0px;
 }

 .stay{
   color:white;
   line-height: 50px;
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
 }

 @media(max-width:540px){
   .stay{
      font-size: 20px;
   }
 }
 .footer-bottom{
 padding: 30px;
 }

 .link{
   color: white;
   padding: 10px;
   padding-bottom: 10px;

 }

 .icon{
   padding: 10px;
 }

 .copyright{
   color: white;
   padding: 30px 0px 0px 0px;
 }
